extends _layout
block vars
	- var prevLink = "infograph-2-1-1.html"
	- var nextLink = "infograph-2-10.html"

block append content
	include _panel-graph
	
	.l-main
		.l-main__in
			.l-content
				.content__pic: img(src="img/c/infograph-2-1-2.png", alt="")