extends _layout

block append content
	.panel-white
		.l-wrap
			.panel-white__in
				a(href="/").logo-minobr.icon.fl-left
				a(href="#").user-prev.fl-right
					.user-prev__ava.disp-tc_m
						img(src="img/ava-default.png", alt="").user-prev__pic
					.user-prev__name.disp-tc_m Александр Яковлев
	
	.l-main_vac
		.l-main__in
			.map
				img(src="img/map-big.png", alt="").map__img
				
				a(href="map-prof.html").map__item.prof
					.hover
						.hover_top
						.hover_body Дополнительное профессиональное образование
						.hover_bottom
				a(href="map-science.html").map__item.science
					.hover
						.hover_top
						.hover_body Наука
						.hover_bottom
				a(href="map-univer.html").map__item.univ
					.hover
						.hover_top
						.hover_body Университет
						.hover_bottom
				a(href="map-president.html").map__item.president
					.hover
						.hover_top
						.hover_body Указы президента
						.hover_bottom
				a(href="map-finance.html").map__item.finance
					.hover
						.hover_top
						.hover_body Финансирование
						.hover_bottom
				a(href="map-youth.html").map__item.youth
					.hover
						.hover_top
						.hover_body Молодежная политика
						.hover_bottom
				a(href="map-additional.html").map__item.additional
					.hover
						.hover_top
						.hover_body Дополнительное образование для детей
						.hover_bottom
				a(href="map-global.html").map__item.global
					.hover
						.hover_top
						.hover_body Глобальное образование
						.hover_bottom
				a(href="map-technical.html").map__item.technical
					.hover
						.hover_top
						.hover_body Техникум или Колледж
						.hover_bottom
				a(href="map-top100.html").map__item.top100
					.hover
						.hover_top
						.hover_body 5 топ 100
						.hover_bottom
				a(href="map-school.html").map__item.school
					.hover
						.hover_top
						.hover_body Школа
						.hover_bottom
				a(href="map-children.html").map__item.children
					.hover
						.hover_top
						.hover_body Детский сад
						.hover_bottom
				a(href="map-building.html").map__item.building
					.hover
						.hover_top
						.hover_body МРДСО
						.hover_bottom