extends _layout

block append content
	.panel-white
		.l-wrap
			.panel-white__in
				a(href="/").logo-minobr.icon.fl-left
				a(href="#").user-prev.fl-right
					.user-prev__ava.disp-tc_m
						img(src="img/ava-default.png", alt="").user-prev__pic
					.user-prev__name.disp-tc_m Александр Яковлев
	
	.l-main_vac
		.l-main__in
			.map
				img(src="img/map-titles.png", alt="").map__img
				
				a(href="map-children.html").map__item_children
				a(href="map-school.html").map__item_school
				a(href="map-technical.html").map__item_technical
				a(href="map-univer.html").map__item_univ
				a(href="map-prof.html").map__item_prof