extends _layout
block vars
	- var noFooter = true
	
block append content

	.panel-white
		.l-wrap
			.panel-white__in
				a(href="#").logo-minobr.icon.fl-left
				ul.stage-navig
					li.stage-navig__item
						a(href="map-technical.html").stage-navig__link_prev.is-disable 
							.icon.icon-arrow-left
							| назад
					li.stage-navig__item
						a(href="main.html").stage-navig__link_back 
							| назад к карте
							.icon.icon-arrow-top
					li.stage-navig__item
						a(href="map-univer.html").stage-navig__link_next 
							| далее
							.icon.icon-arrow-right
				a(href="#").user-prev.fl-right
					.user-prev__ava.disp-tc_m
						img(src="img/ava-default.png", alt="").user-prev__pic
					.user-prev__name.disp-tc_m Александр Яковлев
	
	.l-main.stage-bg_decrees
		.stage-bg__in
			.l-main__in 
				.stage-box
					.stage-box__name Указы президента
					.stage-box__desc
						.img.fl-left
							img(src="img/bg-decrees.png", alt="")
						.text.fl-left
							img(src="img/c/info-decrees.png", alt="")
					.circles.circles_minwidth2
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/quest.png", alt="")
							.circle__name Задачи президента в области образования
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/quest.png", alt="")
							.circle__name Задачи президента в области образования
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/quest.png", alt="")
							.circle__name Задачи президента в области образования

			.pager.pager_nobg: img(src="img/pager-14.png", alt="")