extends _layout
block vars
	- var noFooter = true

block append content

	.panel-white
		.l-wrap
			.panel-white__in
				a(href="main.html").logo-minobr.icon.fl-left
				ul.stage-navig
					li.stage-navig__item
						a(href="map-technical.html").stage-navig__link_prev
							.icon.icon-arrow-left
							| назад
					li.stage-navig__item
						a(href="main.html").stage-navig__link_back 
							| назад к карте
							.icon.icon-arrow-top
					li.stage-navig__item
						a(href="#").stage-navig__link_next.is-disable 
							| далее
							.icon.icon-arrow-right
				a(href="#").user-prev.fl-right
					.user-prev__ava.disp-tc_m
						img(src="img/ava-default.png", alt="").user-prev__pic
					.user-prev__name.disp-tc_m Александр Яковлев
		
	.l-main.stage-bg_univer
		.stage-bg__in.stage-bg__in_0
			.stage-bg__in
				.l-main__in 
					.stage-box
						.stage-box__name университет
						.stage-box__desc_univer
							.img.fl-left
								img(src="img/bg-univer.png", alt="")
							.text.fl-left
								img(src="img/c/univer-info.png", alt="")
						.circles
							a(href="infograph-1-1.html").circle
								.circle__pic: img(src="img/cir/pic-16.png", alt="")
								.circle__name Численность вузов
							a(href="infograph-1-1.html").circle
								.circle__pic: img(src="img/cir/pic-15.png", alt="")
								.circle__name Количество вузов
							a(href="infograph-1-1.html").circle
								.circle__pic: img(src="img/cir/pic-10.png", alt="")
								.circle__name Государственные гарантии
							a(href="infograph-1-1.html").circle
								.circle__pic: img(src="img/cir/lock.png", alt="")
								.circle__name Бюджетные места
							a(href="infograph-1-1.html").circle
								.circle__pic: img(src="img/cir/pic-19.png", alt="")
								.circle__name Новые кадры для «оборонки» 
							a(href="infograph-1-1.html").circle
								.circle__pic: img(src="img/cir/lock.png", alt="")
								.circle__name Новые кадры для ОПК
							a(href="infograph-1-1.html").circle
								.circle__pic: img(src="img/cir/pic-17.png", alt="")
								.circle__name Стипендии
							a(href="infograph-1-1.html").circle
								.circle__pic: img(src="img/cir/pic-20.png", alt="")
								.circle__name Общежития
							a(href="infograph-1-1.html").circle
								.circle__pic: img(src="img/cir/lock.png", alt="")
								.circle__name Образовательное кредитование
							a(href="infograph-1-1.html").circle
								.circle__pic: img(src="img/cir/pic-21.png", alt="")
								.circle__name Стоимость обучения в вузе
							a(href="infograph-1-1.html").circle
								.circle__pic: img(src="img/cir/pic-13.png", alt="")
								.circle__name Финансирование вузов
				.pager_num4