extends _layout
block vars
	- var noFooter = true

block append content

	.panel-white
		.l-wrap
			.panel-white__in
				a(href="main.html").logo-minobr.icon.fl-left
				ul.stage-navig
					li.stage-navig__item
						a(href="map-technical.html").stage-navig__link_prev
							.icon.icon-arrow-left
							| назад
					li.stage-navig__item
						a(href="main.html").stage-navig__link_back 
							| назад к карте
							.icon.icon-arrow-top
					li.stage-navig__item
						a(href="#").stage-navig__link_next.is-disable 
							| далее
							.icon.icon-arrow-right
				a(href="#").user-prev.fl-right
					.user-prev__ava.disp-tc_m
						img(src="img/ava-default.png", alt="").user-prev__pic
					.user-prev__name.disp-tc_m Александр Яковлев
		
	.l-main.stage-bg_univer
		.stage-bg__in.stage-bg__in_0
			.l-main__in 
				.stage-box
					.stage-box__name университет
					.stage-box__desc_univer
						.img.fl-left
							img(src="img/bg-univer.png", alt="")
						.text.fl-left
							img(src="img/c/univer-info.png", alt="")
					.circles#owl-carousel
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/pic-8.png", alt="")
							.circle__name Школьники
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Учителя
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Школы
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Гарантии государства
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Детские лаегря
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name ЕГЭ
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Финансирование школ
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Зарплаты учителей
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Зарплаты учителей
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Зарплаты учителей
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Зарплаты учителей
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Зарплаты учителей
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Зарплаты учителей
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Зарплаты учителей
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Зарплаты учителей
			.pager_num4