footer.footer 
	.l-wrap
		.footer__in
			.footer__copy.fl-left 2014 © Все права защищены
			.share.fl-right
				.share__title Поделиться
				ul.share__links
					li.share__item
						a(href="#").share__link_fb
					li.share__item
						a(href="#").share__link_vk
					li.share__item
						a(href="#").share__link_tw