doctype html
//	proscom.ru
//	Simple Communication
html
	block vars
	include _head
	
	body.page
		.style-nes
			.l-wrap-left
				ul.menu-left
					li.menu-left__item
						a(href="#").menu-left__link
							.icon-map
					li.menu-left__item
						a(href="#").menu-left__link
							.icon-com
					li.menu-left__item
						a(href="#").menu-left__link
							.icon-graph
					li.menu-left__item
						a(href="#").menu-left__link
							.icon-cup
			block content

			unless noFooter
				include _footer