.panel-white
	.l-wrap
		.panel-white__in
			a(href="main.html").logo-minobr.icon.fl-left
			ul.stage-navig.stage-navig_sm
				li.stage-navig__item
					a(href="page-teacher-map-univer.html").stage-navig__link_prev
						.icon.icon-arrow-left
						| предыдущая инфографика
				li.stage-navig__item
					a(href="map-children.html").stage-navig__link_back 
						| назад к сюжету
						.icon.icon-arrow-top
				li.stage-navig__item
					a(href="page-students.html").stage-navig__link_next 
						| следующая инфографика
						.icon.icon-arrow-right
			a(href="#").user-prev.fl-right
				.user-prev__ava.disp-tc_m
					img(src="img/ava-default.png", alt="").user-prev__pic
				.user-prev__name.disp-tc_m Александр Яковлев