extends _layout
block vars
	- var prevLink = "infograph-1-5-1.html"
	- var nextLink = "infograph-1-5-3.html"

block append content
	include _panel-graph
	
	.l-main_vac
		.l-main__in
			.l-content
				.content__pic: img(src="img/c/infograph-1-5-2.png", alt="")