extends _layout
block vars
	- var noFooter = true
	
block append content

	.panel-white
		.l-wrap
			.panel-white__in
				a(href="#").logo-minobr.icon.fl-left
				ul.stage-navig
					li.stage-navig__item
						a(href="main.html").stage-navig__link_prev.is-disable 
							.icon.icon-arrow-left
							| назад
					li.stage-navig__item
						a(href="main.html").stage-navig__link_back 
							| назад к карте
							.icon.icon-arrow-top
					li.stage-navig__item
						a(href="main.html").stage-navig__link_next 
							| далее
							.icon.icon-arrow-right
				a(href="#").user-prev.fl-right
					.user-prev__ava.disp-tc_m
						img(src="img/ava-default.png", alt="").user-prev__pic
					.user-prev__name.disp-tc_m Александр Яковлев
	
	.l-main.stage-bg_prof
		.stage-bg__in
			.l-main__in 
				.stage-box
					.stage-box__name Дополнительное профессиональное образование
					.stage-box__desc
						.img.fl-left
							img(src="img/bg-prof.png", alt="")
						.text.fl-left
							img(src="img/c/prof-info.png", alt="")
					.circles
						a(href="page-president.html").circle
							.circle__pic: img(src="img/cir/pic-6.png", alt="")
							.circle__name Зарплаты преподавателей
						a(href="page-president.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Государство
						a(href="page-president.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Родители
						a(href="page-president.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Детские лагеря
						a(href="page-map-school.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Дошкольники
						a(href="page-president.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Воспитатели
						a(href="page-president.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Дети&nbsp;с&nbsp;огр. возможностями
			.pager