extends _layout
block vars
	- var noFooter = true

block append content

	.panel-white
		.l-wrap
			.panel-white__in
				a(href="main.html").logo-minobr.icon.fl-left
				ul.stage-navig
					li.stage-navig__item
						a(href="map-school.html").stage-navig__link_prev
							.icon.icon-arrow-left
							| назад
					li.stage-navig__item
						a(href="main.html").stage-navig__link_back 
							| назад к карте
							.icon.icon-arrow-top
					li.stage-navig__item
						a(href="map-prof.html").stage-navig__link_next 
							| далее
							.icon.icon-arrow-right
				a(href="#").user-prev.fl-right
					.user-prev__ava.disp-tc_m
						img(src="img/ava-default.png", alt="").user-prev__pic
					.user-prev__name.disp-tc_m Александр Яковлев
		
	.l-main.stage-bg_technical
		.stage-bg__in.stage-bg__in_0
			.l-main__in 
				.stage-box
					.stage-box__name Техникум или колледж
					.stage-box__desc_technical
						.img.fl-left
							img(src="img/bg-technical.png", alt="")
						.text.fl-left
							img(src="img/c/technical-info.png", alt="")
					.circles
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/pic-9.png", alt="")
							.circle__name Студенты СПО
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Учреждения СПО
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Стипендии
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Финансирование колледжей и техникумов
						a(href="infograph-1-1.html").circle
							.circle__pic: img(src="img/cir/lock.png", alt="")
							.circle__name Зарплаты преподавателей
			.pager_num3