extends _layout

block append content

	.panel-white
		.panel-white__in
			a(href="index.html").logo-minobr.icon.fl-left
			ul.stage-navig.stage-navig_sm
				li.stage-navig__item
					a(href="page-president.html").stage-navig__link_prev
						.icon.icon-arrow-left
						| предыдущая инфографика
				li.stage-navig__item
					a(href="children.html").stage-navig__link_back 
						| назад к сюжету
						.icon.icon-arrow-top
				li.stage-navig__item
					a(href="page-school.html").stage-navig__link_next 
						| следующая инфографика
						.icon.icon-arrow-right
			a(href="#").user-prev.fl-right
				.user-prev__ava.disp-tc_m
					img(src="img/ava-default.png", alt="").user-prev__pic
				.user-prev__name.disp-tc_m Александр Яковлев
	
	.l-main_vac
		.l-main__in
			.content
				.content__pic
					img(src="img/c/content-3.png", alt="")

	footer.footer 
		.footer__in
			.footer__copy.fl-left 2014 © Все права защищены
			.share.fl-right
				.share__title Поделиться
				ul.share__links
					li.share__item
						a(href="#").share__link_fb
					li.share__item
						a(href="#").share__link_vk
					li.share__item
						a(href="#").share__link_tw