extends _layout

block append content

	.panel-white
		.panel-white__in
			a(href="index.html").logo-minobr.icon.fl-left
			ul.stage-navig
				li.stage-navig__item
					a(href="technical.html").stage-navig__link_prev
						.icon.icon-arrow-left
						| назад
				li.stage-navig__item
					a(href="index.html").stage-navig__link_back 
						| назад к карте
						.icon.icon-arrow-top
				li.stage-navig__item
					a(href="#").stage-navig__link_next.is-disable 
						| далее
						.icon.icon-arrow-right
			a(href="#").user-prev.fl-right
				.user-prev__ava.disp-tc_m
					img(src="img/ava-default.png", alt="").user-prev__pic
				.user-prev__name.disp-tc_m Александр Яковлев
	
	.l-main.stage-bg_univer
		.l-main__in 
			.stage-box
				.stage-box__name университет
				.stage-box__desc_univer
					.img.fl-left
						img(src="img/bg-univer.png", alt="")
					.text.fl-left
						img(src="img/c/univer-info.png", alt="")
				.circles
					a(href="#").circle
						.circle__pic: img(src="img/cir/pic-8.png", alt="")
						.circle__name Школьники
					a(href="#").circle
						.circle__pic: img(src="img/cir/lock.png", alt="")
						.circle__name Учителя
					a(href="#").circle
						.circle__pic: img(src="img/cir/lock.png", alt="")
						.circle__name Школы
					a(href="#").circle
						.circle__pic: img(src="img/cir/lock.png", alt="")
						.circle__name Гарантии государства
					a(href="#").circle
						.circle__pic: img(src="img/cir/lock.png", alt="")
						.circle__name Детские лаегря
					a(href="#").circle
						.circle__pic: img(src="img/cir/lock.png", alt="")
						.circle__name ЕГЭ
					a(href="#").circle
						.circle__pic: img(src="img/cir/lock.png", alt="")
						.circle__name Финансирование школ
					a(href="#").circle
						.circle__pic: img(src="img/cir/lock.png", alt="")
						.circle__name Зарплаты учителей
		.pager_num4