@import "../css/normalize.css";
html,
body {
  position: relative;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
.disp-tc {
  display: table-cell;
}
.disp-tc_m {
  display: table-cell;
  vertical-align: middle;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
  clear: both;
}
.hide {
  display: none;
}
.float-right {
  float: right;
}
.align-center {
  text-align: center;
}
p {
  margin-bottom: 20px;
  line-height: normal;
}
body {
  font-size: 12px;
  color: #999;
  line-height: normal;
}
ul {
  margin: 0 0 15px 0;
}
ul li {
  margin: 0 0 15px 15px;
  list-style: disc outside;
}
ul li ul,
ul li ol {
  margin: 15px 0 10px 0;
}
ol {
  margin: 0 0 15px 0;
}
ol li {
  margin: 0 0 15px 15px;
  list-style: decimal inside;
}
ol li ul,
ol li ol {
  margin: 15px 0 10px 0;
}
a {
  color: #f85800;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
a:hover {
  text-decoration: underline;
}
a.active {
  cursor: default;
  text-decoration: none;
}
li.active a {
  cursor: default;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 30px 0;
  color: #4e5255;
  font-family: 'latoregular';
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 16px;
}
label,
input,
button,
select,
textarea {
  color: #333;
  font-size: 14px;
}
select {
  width: 260px;
  margin: 0 0 10px 0;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  border: 2px solid #cacaca;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"] {
  width: 300px;
  margin-bottom: 10px;
  padding: 10px 10px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #e6e6e6;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="phone"].error {
  border-color: #e44343;
  color: #e44343;
}
input[type="text"].valid,
input[type="password"].valid,
input[type="email"].valid,
input[type="phone"].valid {
  border-color: #3ac020;
}
input[type="submit"] {
  width: auto;
  padding: 15px 30px;
  color: #fff;
  font-size: 18px;
  border: none;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
input[type="submit"]:hover {
  background: #1aa257;
}
input[type="submit"]:active {
  opacity: 0.8;
}
textarea {
  width: 238px;
  max-width: 100%;
  height: 100px;
  padding: 20px;
  background: #fff;
  border: 1px solid #e1e1e1;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
textarea:hover {
  box-shadow: 1px 1px 5px rgba(204,204,204,0.75) inset;
}
textarea:focus {
  box-shadow: 1px 1px 5px rgba(204,204,204,0.75) inset;
}
textarea.error {
  border-color: #f00;
}
textarea.valid {
  border-color: #3ac020;
}
input[type=checkbox] {
  overflow: hidden;
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  border: 0;
}
input[type=checkbox] + label {
  display: inline-block;
  height: 22px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 23px;
  vertical-align: middle;
  cursor: pointer;
  background: url("../img/checkbox.png") no-repeat;
}
input[type=checkbox].lightblue + label {
  background: url("../img/checkbox4.png") no-repeat;
}
input[type=checkbox].light + label {
  background: url("../img/checkbox3.png") no-repeat;
}
input[type=checkbox] + label:hover {
  background-position: 0 0;
}
input[type=checkbox]:checked + label {
  background-position: 0 -22px;
}
input[type="radio"] + label {
  cursor: pointer;
  font-size: 14px;
  line-height: 30px;
  margin: 0px 20px 0px 0;
}
input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  height: 22px;
  width: 22px;
  margin: 0 10px -5px 0px;
  background: url("../img/radio.png") no-repeat;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:disabled + label {
  cursor: default;
}
input[type="radio"] + label:hover::before {
  background-position: 0px 0px;
}
input[type="radio"]:checked + label::before {
  background-position: 0 -22px;
}
input[type="radio"]:disabled + label::before {
  background-position: 0px 0px;
}
input[type="radio"]:checked:disabled + label::before {
  background-position: 0px -22px;
}
table {
  width: 100%;
}
table td {
  vertical-align: top;
}
.page {
  min-width: 1340px;
  background: #c1dae0 url("../img/bg.png") center center repeat-y;
  background-size: cover;
}
.style-nes {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}
.l-wrap {
  max-width: 1800px;
  margin: 0 auto;
}
.l-wrap-left {
  z-index: 101;
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 100%;
  background-color: #2a3137;
  border-right: 6px solid #252a2f;
}
.l-main,
.l-main_vac {
  position: relative;
  display: table-cell;
  width: 100%;
  height: 100%;
}
.l-main_vac {
  text-align: center;
  vertical-align: middle;
}
.l-main__in {
  position: relative;
  max-width: 1800px;
  margin: 0 auto;
  padding-left: 96px;
  padding-right: 20px;
  box-sizing: border-box;
}
.l-content {
  padding: 160px 0 160px 0;
}
.l-footer {
  position: absolute;
  bottom: 40px;
  width: 100%;
}
.menu-left {
  margin: 0;
  list-style: none;
}
.menu-left li {
  margin: 0;
  list-style: none;
}
.menu-left__item {
  width: 100%;
  display: table;
}
.menu-left__link {
  display: table-cell;
  width: 100%;
  height: 100px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
.menu-left__link:hover {
  background: #2d363e;
}
.icon,
.icon-map,
.icon-com,
.icon-graph,
.icon-cup {
  display: inline-block;
  vertical-align: baseline;
}
.icon-map {
  width: 23px;
  height: 29px;
  background: url("../img/i/i-map-a.png") no-repeat;
}
.icon-com {
  width: 31px;
  height: 31px;
  background: url("../img/i/i-com.png") no-repeat;
}
.icon-graph {
  width: 31px;
  height: 31px;
  background: url("../img/i/i-graph.png") no-repeat;
}
.icon-cup {
  width: 31px;
  height: 31px;
  background: url("../img/i/i-cup.png") no-repeat;
}
.icon-arrow-left {
  width: 12px;
  height: 10px;
  background: url("../img/i/a-left-grey.png") no-repeat;
}
.icon-arrow-top {
  width: 12px;
  height: 11px;
  background: url("../img/i/a-top-green.png") no-repeat;
}
.icon-arrow-right {
  width: 12px;
  height: 10px;
  background: url("../img/i/a-left-grey.png") no-repeat;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.panel-white {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  min-width: 1100px;
  text-align: center;
}
.panel-white__in {
  margin-left: 96px;
  margin-right: 20px;
  padding: 11px 20px;
  background: #fff;
  border-radius: 4px;
  opacity: 0.6;
}
.panel-white__in:before,
.panel-white__in:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
}
.footer__in {
  margin-left: 96px;
  margin-right: 20px;
}
.footer__in:before,
.footer__in:after {
  content: "";
  display: table;
  clear: both;
}
.footer__copy {
  color: #8c969d;
  font-size: 13px;
}
.logo-minobr {
  width: 197px;
  height: 47px;
  background: url("../img/logo-minobr.png") no-repeat;
}
.logo-minobr:hover {
  opacity: 0.8;
}
.user-prev {
  padding-right: 15px;
  color: #5a7085;
  font-size: 16px;
}
.user-prev:hover {
  opacity: 0.8;
}
.user-prev__ava {
  padding-right: 20px;
}
.user-prev__name {
  font-size: 16px;
  font-weight: 600;
}
.map {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 100px 0px 50px 0px;
}
.map__img {
  width: 100%;
  max-width: 1782px;
}
.map__item_children {
  position: absolute;
  left: 25%;
  top: 76%;
  width: 9%;
  height: 13%;
}
.map__item_school {
  position: absolute;
  left: 33%;
  top: 60%;
  width: 10%;
  height: 20%;
}
.map__item_technical {
  position: absolute;
  left: 43%;
  top: 44%;
  width: 13%;
  height: 26%;
}
.map__item_univ {
  position: absolute;
  left: 39%;
  top: 10%;
  width: 19%;
  height: 34%;
}
.map__item_prof {
  position: absolute;
  left: 65%;
  top: 4%;
  width: 9%;
  height: 13%;
}
.stage-navig {
  display: inline-block;
  padding-top: 13px;
  margin: 0;
  list-style: none;
}
.stage-navig li {
  margin: 0;
  list-style: none;
}
.stage-navig__item {
  display: inline-block;
}
.stage-navig__link,
.stage-navig__link_prev,
.stage-navig__link_back,
.stage-navig__link_next {
  display: block;
  position: relative;
  padding: 0 30px;
  color: #6b8094;
  font-size: 16px;
  font-weight: 600;
}
.stage-navig__link .icon,
.stage-navig__link_prev .icon,
.stage-navig__link_back .icon,
.stage-navig__link_next .icon {
  opacity: 0.8;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
.stage-navig__link:hover,
.stage-navig__link_prev:hover,
.stage-navig__link_back:hover,
.stage-navig__link_next:hover {
  text-decoration: none;
  color: #5a7085;
}
.stage-navig__link:hover .icon,
.stage-navig__link_prev:hover .icon,
.stage-navig__link_back:hover .icon,
.stage-navig__link_next:hover .icon {
  opacity: 1;
}
.stage-navig__link_prev .icon {
  margin-right: 20px;
}
.stage-navig__link_back {
  color: #51bba8;
}
.stage-navig__link_back:hover {
  color: #3fa18f;
}
.stage-navig__link_back .icon {
  margin-left: 20px;
}
.stage-navig__link_next .icon {
  margin-left: 20px;
}
.stage-navig .is-disable {
  color: #bbc1c8;
  text-decoration: none;
  cursor: default;
}
.stage-navig .is-disable .icon {
  opacity: 0.6;
}
.stage-navig_sm {
  padding: 10px;
}
.stage-navig_sm .stage-navig__link_prev,
.stage-navig_sm .stage-navig__link_next,
.stage-navig_sm .stage-navig__link_back {
  padding: 0 10px;
}
.stage-bg {
  position: relative;
}
.stage-bg_school {
  background: #fefefe url("../img/map-school.png") center top no-repeat;
  max-width: 1800px;
}
.stage-bg_children {
  background: #fefefe url("../img/map-children.png") center top no-repeat;
  max-width: 1800px;
}
.stage-bg_technical {
  background: #fefefe url("../img/map-technical.png") center top no-repeat;
  max-width: 1800px;
}
.stage-bg_univer {
  background: #fefefe url("../img/map-univer.png") center top no-repeat;
  max-width: 1800px;
}
.stage-bg_prof {
  background: url("../img/map-big.png") calc(50% - 560px) 350px no-repeat;
  max-width: 1800px;
}
.stage-bg_science {
  background: url("../img/map-big.png") calc(50% - 560px) 350px no-repeat;
  max-width: 1800px;
}
.stage-bg__in {
  background: rgba(255,255,255,0.7);
  height: 100%;
}
.stage-bg__in_0 {
  background: none;
}
.stage-box {
  padding-top: 230px;
}
.stage-box__name {
  position: relative;
  height: 30px;
  text-align: center;
  color: #5a7085;
  font-size: 20px;
  text-transform: uppercase;
}
.stage-box__desc,
.stage-box__desc_school,
.stage-box__desc_technical,
.stage-box__desc_school_technical,
.stage-box__desc_univer,
.stage-box__desc_school_univer,
.stage-box__desc_technical_univer,
.stage-box__desc_school_technical_univer {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 98px;
  padding-left: 154px;
  box-sizing: border-box;
}
.stage-box__desc:before,
.stage-box__desc_school:before,
.stage-box__desc_technical:before,
.stage-box__desc_school_technical:before,
.stage-box__desc_univer:before,
.stage-box__desc_school_univer:before,
.stage-box__desc_technical_univer:before,
.stage-box__desc_school_technical_univer:before,
.stage-box__desc:after,
.stage-box__desc_school:after,
.stage-box__desc_technical:after,
.stage-box__desc_school_technical:after,
.stage-box__desc_univer:after,
.stage-box__desc_school_univer:after,
.stage-box__desc_technical_univer:after,
.stage-box__desc_school_technical_univer:after {
  content: "";
  display: table;
  clear: both;
}
.stage-box__desc .text,
.stage-box__desc_school .text,
.stage-box__desc_technical .text,
.stage-box__desc_school_technical .text,
.stage-box__desc_univer .text,
.stage-box__desc_school_univer .text,
.stage-box__desc_technical_univer .text,
.stage-box__desc_school_technical_univer .text {
  padding-top: 30px;
  padding-left: 60px;
}
.stage-box__desc_school,
.stage-box__desc_school_school,
.stage-box__desc_technical_school,
.stage-box__desc_school_technical_school,
.stage-box__desc_univer_school,
.stage-box__desc_school_univer_school,
.stage-box__desc_technical_univer_school,
.stage-box__desc_school_technical_univer_school {
  padding-top: 31px;
  padding-left: 108px;
}
.stage-box__desc_technical,
.stage-box__desc_school_technical,
.stage-box__desc_technical_technical,
.stage-box__desc_school_technical_technical,
.stage-box__desc_univer_technical,
.stage-box__desc_school_univer_technical,
.stage-box__desc_technical_univer_technical,
.stage-box__desc_school_technical_univer_technical {
  padding-top: 53px;
  padding-left: 225px;
}
.stage-box__desc_univer,
.stage-box__desc_school_univer,
.stage-box__desc_technical_univer,
.stage-box__desc_school_technical_univer,
.stage-box__desc_univer_univer,
.stage-box__desc_school_univer_univer,
.stage-box__desc_technical_univer_univer,
.stage-box__desc_school_technical_univer_univer {
  padding-top: 3px;
  padding-left: 125px;
}
.stage-box__desc_univer .text,
.stage-box__desc_school_univer .text,
.stage-box__desc_technical_univer .text,
.stage-box__desc_school_technical_univer .text,
.stage-box__desc_univer_univer .text,
.stage-box__desc_school_univer_univer .text,
.stage-box__desc_technical_univer_univer .text,
.stage-box__desc_school_technical_univer_univer .text {
  padding-top: 100px;
}
.circles {
  padding-top: 80px;
  padding-bottom: 100px;
}
.circles .circle {
  display: table-cell;
  width: 5%;
  padding: 0 10px;
  text-align: center;
  color: #5a7085;
  font-size: 16px;
  font-weight: 400;
}
.circles .circle:hover {
  text-decoration: none;
}
.circles .circle:hover .circle__pic img {
  border: 4px solid rgba(119,130,136,0.2);
}
.circles .circle .circle__pic {
  padding-bottom: 20px;
}
.circles .circle .circle__pic img {
  display: inline-block;
  border-radius: 100%;
  border: 4px solid transparent;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
.pager,
.pager_num2,
.pager_num3,
.pager_num2_num3,
.pager_num4,
.pager_num2_num4,
.pager_num3_num4,
.pager_num2_num3_num4 {
  position: absolute;
  left: 0px;
  bottom: 40px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 96px;
  height: 20px;
  background: url("../img/pager.png") center 0 no-repeat;
  cursor: pointer;
}
.pager_num2,
.pager_num2_num2,
.pager_num3_num2,
.pager_num2_num3_num2,
.pager_num4_num2,
.pager_num2_num4_num2,
.pager_num3_num4_num2,
.pager_num2_num3_num4_num2 {
  background: url("../img/pager-2.png") center 0 no-repeat;
}
.pager_num3,
.pager_num2_num3,
.pager_num3_num3,
.pager_num2_num3_num3,
.pager_num4_num3,
.pager_num2_num4_num3,
.pager_num3_num4_num3,
.pager_num2_num3_num4_num3 {
  background: url("../img/pager-3.png") center 0 no-repeat;
}
.pager_num4,
.pager_num2_num4,
.pager_num3_num4,
.pager_num2_num3_num4,
.pager_num4_num4,
.pager_num2_num4_num4,
.pager_num3_num4_num4,
.pager_num2_num3_num4_num4 {
  background: url("../img/pager-4.png") center 0 no-repeat;
}
.share__title {
  display: table-cell;
  vertical-align: middle;
  padding-right: 15px;
  color: #8c969d;
  font-size: 13px;
}
.share__links {
  margin: 0;
  list-style: none;
  display: table-cell;
  vertical-align: middle;
}
.share__links li {
  margin: 0;
  list-style: none;
}
.share__item {
  display: table-cell;
  vertical-align: middle;
}
.share__link,
.share__link_vk,
.share__link_tw,
.share__link_vk_tw,
.share__link_fb,
.share__link_vk_fb,
.share__link_tw_fb,
.share__link_vk_tw_fb {
  display: inline-block;
  padding: 0 5px;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
.share__link:hover,
.share__link_vk:hover,
.share__link_tw:hover,
.share__link_vk_tw:hover,
.share__link_fb:hover,
.share__link_vk_fb:hover,
.share__link_tw_fb:hover,
.share__link_vk_tw_fb:hover {
  opacity: 0.8;
}
.share__link_vk,
.share__link_vk_vk,
.share__link_tw_vk,
.share__link_vk_tw_vk,
.share__link_fb_vk,
.share__link_vk_fb_vk,
.share__link_tw_fb_vk,
.share__link_vk_tw_fb_vk {
  width: 18px;
  height: 10px;
  background: url("../img/i/s-vk.png") no-repeat;
}
.share__link_tw,
.share__link_vk_tw,
.share__link_tw_tw,
.share__link_vk_tw_tw,
.share__link_fb_tw,
.share__link_vk_fb_tw,
.share__link_tw_fb_tw,
.share__link_vk_tw_fb_tw {
  width: 15px;
  height: 12px;
  background: url("../img/i/s-tw.png") no-repeat;
}
.share__link_fb,
.share__link_vk_fb,
.share__link_tw_fb,
.share__link_vk_tw_fb,
.share__link_fb_fb,
.share__link_vk_fb_fb,
.share__link_tw_fb_fb,
.share__link_vk_tw_fb_fb {
  width: 8px;
  height: 18px;
  background: url("../img/i/s-fb.png") no-repeat;
}
.content__pic {
  text-align: center;
}
